/*
 global
*/
body{font-family:arial,sans-serif;margin: 0; font-weight:normal; padding:72 0 44 0;background-color:#f0f0f0;word-wrap: break-word;-webkit-user-select: none;}
body.night{background-color:#1F2023}
p{margin-top:0;margin-bottom:1em}
*{-webkit-touch-callout: none; -webkit-tap-highlight-color: rgba(0,0,0,0.15);}
.no_tc{-webkit-tap-highlight-color: rgba(0,0,0,0);}
/*
 title
*/
#title_section{padding:15 0 6 0;-webkit-user-select: text;}
#title{padding: 0 15 0 15;color:#121212;font-weight:bold;font-size:21px;}
#subtitle{padding: 5 15 3 15;color:#808080;font-size:14px;-webkit-user-select:text;}
body.night #title{color:#AEB8C5}
body.night #subtitle{color:#6A7581}

#ford{position:absolute;top:118px;right:14px;background: url("ford@2x.png") no-repeat center top;width:99px;height:15px;background-size: 100%}
body.night #ford{opacity: 0.5;}
/*
 attitude block
*/
.H1{font-size:125%;font-weight:bold;line-height:130%;color:#1F1F1F;padding-top:0.1em;padding-bottom:0.1em}
.H2{font-size:105%;font-weight:bold;line-height:130%;padding-top:0.1em;padding-bottom:0.1em;color:#1F1F1F;}
.PRE, .END{background-color:#E9E9E9;padding:12px 15px;color:#5F5F5F;font-size:95%;line-height:140%;}
.PRE{margin-top:-15px}
.digest_tag{margin:0px 6px 0 0;font-weight:bold}
.ext_header{height:25px;width:100%;-webkit-user-select: none;display:table;}
.ext_title{line-height:25px;font-size:17px;white-space:nowrap;display:table-cell;color:#546998}
.ext_title > span{font-family:'DFPLiJinHeiW8-GB';}
.ext_border { display: table-cell;width:320px;}
.ext_border > div{height:4px;border-color:#93a9dc;border-style: solid; border-width: 1px 1px 0px 0px;margin-left:10px;}
.ext_footer{-webkit-user-select: none; height:4px;border-color:#93a9dc;border-style: solid; border-width: 0px 0px 1px 1px;margin-top:4px;margin-left:16px;}
.ext_content{color:#546998;padding-left:16px;}
.ext_content p{margin-bottom:0.8em}

body.night .H1,body.night .H2{color:#AEB8C5;}
body.night .PRE,body.night .END{background-color:#383B41;color:#798492;}
body.night .ext_footer,body.night .ext_border > div{border-color:#2c4157;}
body.night .ext_title,body.night .ext_content{color:#40678f}

/*
 body
*/
#body_section{padding:3 15;color:#1f1f1f;overflow-x:hidden;-webkit-user-select: text;}
#body_section[lang=zh]{text-align:justify;letter-spacing:-0.2px;-webkit-hyphenate-limit-after:1;-webkit-hyphenate-limit-before:1;line-height:150%;-webkit-hyphens: auto;}
#body_section[lang=en]{line-height:140%;}
body.night #body_section{color:#798492;}
#body_section.font_largexxx{font-size:25px;}
#body_section.font_largexx{font-size:23px;}
#body_section.font_largex{font-size:21px;}
#body_section.font_large{font-size:19px;}
#body_section.font_normal{font-size:17px;}
#body_section.font_small{font-size:15px;}
#body_section.font_largexxx[lang=en]{font-size:23px;}
#body_section.font_largexx[lang=en]{font-size:21px;}
#body_section.font_largex[lang=en]{font-size:19px;}
#body_section.font_large[lang=en]{font-size:17px;}
#body_section.font_normal[lang=en]{font-size:15px;}
#body_section.font_small[lang=en]{font-size:13px;}

.cma{margin-right:-0.7em;}
.cma2{margin-right:-0.3em;}
.cmal{margin-left:-0.2em;}
.cmal2{margin-left:-0.6em;}

#body_section a.link, .ext_content a{color:#5191d2;text-decoration:none;}

/*
 source url
*/
.source_url {text-decoration:none;color:#666666;background-color: #e0e0e0;font-size: 12px;display: inline-block;width: 62px;height: 24px;line-height: 24px;border-radius:2px;text-align: center;}
body.night .source_url{color:#717b88;background-color: #2b2d2e;}

/*
 topics & relative links
*/
.section_header{background-size: 100%;background-image: url("contentview_sectionheader.png");background-repeat: no-repeat;font-size:16px;font-weight: bold;color:#0a0a0a;height:36px;line-height:36px;padding-left:14px;}
.section ul{ list-style: none; margin: 0;padding: 0;}
.section ul li{/*height: 45px;*/background-size: 290px 2px;background: url("cities_line.png") no-repeat center top;overflow:hidden;}
.section ul li.first{background-image:none}
.section ul li#hover{background-size:100%;background: url("sidebar_cellhighlighted_bg.png") x-repeat left top}
.section ul li a{overflow:hidden;text-overflow:ellipsis;/*white-space:nowrap;*/}
#topics_section ul li a.topic_name{ display: block;width:200px;height: 45px;line-height:45px; outline: none;text-decoration:none;font-size:17px;color:#1f1f1f;padding-left:15px;float:left;}
#topics_section ul li a.topic_plus,#topics_section ul li a.topic_check{ display: block;width:100px;height:45px; outline: none;float:right;}
#topics_section ul li a.topic_plus{background-size: 72px 44px;background: url("contentview_topic_sub.png") no-repeat center center;}
#topics_section ul li a.topic_check{background-size: 72px 44px;background: url("contentview_topic_unsub.png") no-repeat center center;}
#topics_section ul li a.topic_plus[newsType=media]{background-size: 72px 44px;background: url("contentview_topic_sub_media.png") no-repeat center center;}
#topics_section ul li a.topic_check[newsType=media]{background-size: 72px 44px;background: url("contentview_topic_unsub_media.png") no-repeat center center;}

#relative_section ul li a{ display: block;width:290px;/*height: 45px;*/line-height:22px; outline: none;text-decoration:none;font-size:17px;color:#1f1f1f;padding-left:15px;padding-top: 12px;padding-bottom: 12px}
#relative_section ul li a.read{color:#808080}
#relative_section #read_dot{background-color: #7aaada;display: inline-block;float: left;margin: 8px 6px 3px 0;vertical-align: middle;height: 6px;width: 6px;border-radius: 3px;}
#relative_section .read #read_dot{background-color: transparent;}
#relative_section #relative_title{display: inline-block;width: 276px;}

body.night .section_header{background-image: url("night_contentview_sectionheader.png");color:#AEB8C5;}
body.night .section ul li{ background-image: url("night_cities_line.png");background-color:#1F2023}
body.night .section ul li#hover{ background-image: url("night_sidebar_cellhighlighted_bg.png")}
body.night .section ul li.first{background-image: none}
body.night #topics_section ul li a.topic_plus{ background-image: url("night_contentview_topic_sub.png")}
body.night #topics_section ul li a.topic_check{ background-image: url("night_contentview_topic_unsub.png")}
body.night #topics_section ul li a.topic_plus[newsType=media]{ background-image: url("night_contentview_topic_sub_media.png")}
body.night #topics_section ul li a.topic_check[newsType=media]{ background-image: url("night_contentview_topic_unsub_media.png")}
body.night #topics_section ul li a.topic_name,body.night #relative_section ul li a{color:#AEB8C5;}
body.night #relative_section ul li a.read{color:#798492}
body.night #relative_section #read_dot{background-color: #546d85}
body.night #relative_section .read #read_dot{background-color: transparent;}

/*
 hottest comment
*/
#comment_section ul a{outline: none;text-decoration:none;color: #1f1f1f}
#comment_section ul li{padding: 12px 15px 12px 15px; height: auto;}
#comment_section .section_header a{float: right;display: block;font-size: 14px;color: #6e6e6e;outline: none;text-decoration:none;margin-right: 12px;font-weight: normal;}
#comment_section .floor_title {font-size: 12.5px; color: #5191d2; margin-bottom: 8px}
#comment_section .floor_title i{width: 18px; height: 18px;margin-top: -2px; margin-right: 5px; background: url("comment_profile_default.png") no-repeat;background-size: 100%; float: left;}
#comment_section .floor_title img{margin: 0px; width:18px; height: 18px;border-radius: 9px}
#comment_section .floor_title b{font-weight: normal; display: inline-block; overflow: hidden;width: 210px;height: 16;text-overflow:ellipsis;white-space:nowrap;}
#comment_section .floor_title b[bigv]{color: #c30013}
#comment_section .floor_title span{float: right;color: #888888; font-size: 11px; margin-top: 1.5px}
#comment_section .floor_body {font-size: 16px}
#comment_section .floor_up {float:right;display: block;width: 19px;height: 16px;background: url("comment_support.png") no-repeat;background-size: 100%;margin: -3px 0 0 4px}
body.night #comment_section ul a{color:#798492;}
body.night #comment_section .floor_title{color: #6989ae}
body.night #comment_section .floor_title i{background: url("night_comment_profile_default.png");background-size: 100%;}
body.night #comment_section .floor_title i{opacity: 0.5;}
body.night #comment_section .floor_title span{color: #798492;}
body.night #comment_section .floor_up {background-image: url("night_comment_support.png");}
body.night #comment_section .floor_title b[bigv]{color: #f0f0f0}

/* ad */
.ad_header {color: #f0f0f0;font-weight: bold;font-size: 70%;background-color:#4d86c6;margin-right: 0.4em;padding: 1px 0.25em 1px 0.3em;vertical-align: top;}
body.night .ad_header{color:#8696ad;background-color:#1d365b}

/*
 vote
*/
#vote_section #vote_body {padding: 5px 15px 10px 15px}
#vote_section #vote_title {font-weight: bold;font-size: 18px;line-height: 20px; padding: 8px 0}
#vote_section #vote_title b{display: inline-block;background: url("vote_multi_tag.png") no-repeat;background-size: 100%;font-size: 15px;color: #ffffff;width: 49px;height: 21px;line-height: 23px;margin-right: 5px;text-indent:6px}
#vote_section .vote_digest {font-size: 13px;color: #808080;padding: 0 0 6px 0}
#vote_section .vote_digest #vote_status {font-weight: normal;margin-left: 5px}
#vote_section .vote_digest span{float: right;}
#vote_section .vote_item {position: relative;height: 50px;overflow: hidden;}
#vote_section .vote_optionButton {overflow: hidden;height: 41px;line-height: 43px;width:275px;margin-top: 5px;padding: 0 0 0 15px;text-decoration: none;outline: none;color: #1f1f1f;font-size: 16px;display: inline-block;background: url("contentview_graylongbutton.png") no-repeat;background-size: 100%}
#vote_section .vote_optionButton[hover]{background-image: url("contentview_graylongbutton_highlighted.png");}
#vote_section .vote_optionButton[mutliple]{padding: 0 0 0 35px;background-image: url("vote_multi_option.png");}
/*#vote_section .vote_optionButton[mutliple][hover]{background-image: url("vote_multi_option_highlighted.png");}*/
#vote_section .vote_optionButton[mutliple][selected]{background-image: url("vote_multi_option_selected.png");}
#vote_section .vote_optionButton[submit]{color: #f0f0f0;font-size: 18px;width: 290px;line-height: 36px;margin-top: 10px;padding-left:0;text-align: center;background-image: url("vote_multi_submit.png");}
#vote_section .vote_optionButton[submit][hover]{background-image: url("vote_multi_submit_highlighted.png");}
#vote_section .vote_optionButton[submit][disable]{color:#808080;background-image: url("contentview_graylongbutton.png");}
#vote_section .vote_resultTitle {text-decoration: none;outline: none;color: #1f1f1f;display:block;margin:5px 0 3px 0;}
#vote_section .vote_statisticBar {display: inline-block;vertical-align: middle;height: 11px;width: 0;margin-top: 0px;-webkit-transition: width 0.4s linear;}
#vote_section .vote_item span{display: inline-block;vertical-align: middle;font-size: 13px;color: #848e9b;margin: 1px 0 0 3px;}
body.night #vote_section #vote_title,body.night #vote_section .vote_optionButton,body.night #vote_section .vote_resultTitle{color:#AEB8C5}
body.night #vote_section #vote_title b{opacity: 0.6}
body.night #vote_section .vote_digest,body.night #vote_section .vote_item span{color: #798492}
body.night #vote_section .vote_optionButton{background-image: url("night_contentview_graylongbutton.png");}
body.night #vote_section .vote_optionButton[hover]{background-image: url("night_contentview_graylongbutton_highlighted.png");}
body.night #vote_section .vote_optionButton[mutliple]{background-image: url("night_vote_multi_option.png");}
body.night #vote_section .vote_optionButton[mutliple][selected]{background-image: url("night_vote_multi_option_selected.png");}
body.night #vote_section .vote_optionButton[submit]{color: #b3b4b6;background-image: url("night_vote_multi_submit.png");}
body.night #vote_section .vote_optionButton[submit][hover]{background-image: url("night_vote_multi_submit_highlighted.png");}
body.night #vote_section .vote_optionButton[submit][disable]{color: #798492;background-image: url("night_contentview_graylongbutton.png");}
body.night #vote_section .vote_statisticBar{opacity: 0.5}

/*
 photo
*/
.photo_big,.video_big,.audio_big{position:relative;float:right;margin:5 0 0 10;clear:right;background-size: 100%;background-repeat: no-repeat;-webkit-user-select: none; width:278px;height:189px;-webkit-border-image: url(contentview_image_big_default@2x.png) 12 14 12 14;border-width:6px 7px 6px 7px}
.audio_big{height:119px;/*DOCIMAGE_BIGAUDIO_SIZE+2*/}
.video_big{height:156px;}/*16:9*/
p.pdesc{font-size:90%;line-height:115%;color:#808080;clear:both;padding-top:0.2em;}
.photo_box{width:100px;height:100px;overflow:hidden;display:block;z-index:-1;color:#808080;text-decoration:none;-webkit-tap-highlight-color:inherit;}
.photo_box img{opacity:0;-webkit-transition: opacity 250ms ease-out;}
.photo_box img.loaded{opacity:1}
.photo_box>span{padding:5px 2px 0 5px;display:block;font-size:12px;line-height:16px;text-align:left;}
.photo_big .photo_box,.video_big .photo_box,.audio_big .photo_box{width:99%;height:99%;width:-webkit-calc(100% - 2px);height:-webkit-calc(100% - 2px);border:1px solid #e9e9e9;}

.logo{position:absolute;left:50%;top:50%;margin-left:-35;margin-top:-16;width:70;height:33;background-image:url("contentview_imagebg_logo@2x.png");background-size: 100%}
.plus{position:absolute;left:0px;bottom:0px;background-size: 100%;z-index:1}
.photo_big .plus{width:56px;height:34px;left:1px;bottom:1px;}
.photo_big[photoset] .plus{background-image:url("contentview_photoset_plus@2x.png")}
.photo_big[map] .plus{background-image:url("contentview_map_plus@2x.png")}
.video_plus{position:absolute;left:20px;bottom:20px;width:70px;height:70px;background-size: 100%;background-image: url("contentview_play@2x.png");background-repeat: no-repeat;z-index:1}
.audio_big .video_plus{background-image: url("contentview_listen@2x.png");}
.video_big .video_plus,.audio_big .video_plus{position:absolute;left:50%;top:50%;margin-left:-35;margin-top:-35;}

body.night .photo_box{background-color:#000;color:#808080;}
body.night .photo_big .photo_box,body.night .video_big .photo_box,body.night .audio_big .photo_box{border-color:#24262d;}
body.night p.pdesc{color:#6A7581}
body.night .photo_box img.loaded{opacity:0.5}
body.night .photo_big,body.night .video_big,body.night .audio_big{-webkit-border-image: url(night_contentview_image_big_default@2x.png) 12 14 12 14;}
body.night .photo_big[photoset] .plus{opacity:0.5}
body.night .video_plus{opacity:0.5}
body.night .logo{background-image:url("night_contentview_imagebg_logo@2x.png")}

/*
 新的相关栏目样式（横向三个栏目Icon）
*/
.relative_recommend {display: inline-block;width: 106px;}
.relative_recommend .photo_big, body.night .relative_recommend .photo_big{position: relative;float:left;clear:none;width: 60px;height: 60px;border-radius: 8px;-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.3);margin: 12px 0 -8px 23px;overflow: hidden;background-image: url("contentview_image_default@2x.png");-webkit-tap-highlight-color: rgba(0,0,0,0);border-width: 0px 0px;}
.relative_recommend .photo_big .photo_box{margin: 0 0;border: none;width:100%;height:100%;}
.relative_recommend .photo_box img{border-radius:8px;width: 100%;height: 100%}
.relative_recommend .topic_name {text-align: center;color: #666666;margin: 0 6px 15px 6px;height: 20px;font-size: 15px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

body.night .relative_recommend .photo_big{background-image: url("night_contentview_image_default@2x.png");border-radius: 8px;}

/*
 plugin
*/
.pluginbox{display: block;height: 70px;position:relative;}
#body_section.font_largexx .pluginbox,#body_section.font_largexxx .pluginbox{line-height: 120%}
.pluginbox[noIcon]{height:45px}
.plugin {display:block;float:left;margin-bottom: 0px;width:273px;height:58px;-webkit-user-select: none;-webkit-border-image: url(contentview_image_big_default@2x.png) 12 14 12 14;border-width:6px 7px 6px 7px;}
.plugin#hover {-webkit-border-image: url(contentview_image_big_default_selected@2x.png) 12 14 12 14;}
.plugin .photo_big, body.night .plugin .photo_big{position: relative;float:left;clear:none;width: 48px;height: 48px;border-radius: 8px;-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.3);margin: 5px 7px;overflow: hidden;background-image: url("contentview_image_default@2x.png");-webkit-tap-highlight-color: rgba(0,0,0,0);border-width: 0px 0px;}
.plugin .photo_big .photo_box{margin: 0 0;border: none;width:100%;height:100%;}
.plugin .photo_box img{border-radius:8px}
.plugin .title{margin-top:-13px;width:200px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;font-size:17px;height:24px;}
.plugin .subtitle{font-size:12px;height:22px;color:#808080;width:200px;margin-top:0px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.plugin .arrow{float:right;height:14px;width:7px;background-size: 100%;background-image: url("settingcell_arrow.png");margin-right:5px;margin-top:-28px;}
.plugin img{width: 100%;height: 100%}
.plugin p.pdesc{clear:none;}

body.night .plugin{-webkit-border-image: url(night_contentview_image_big_default@2x.png) 12 14 12 14;}
body.night .plugin#hover {-webkit-border-image: url(night_contentview_image_big_default_selected@2x.png) 12 14 12 14;}
body.night .plugin .photo_big{background-image: url("night_contentview_image_default@2x.png");border-radius: 8px;}
body.night .plugin .subtitle{color:#6A7581}

/*
 栏目推荐plugin
*/
.plugin[short]{width: 220px}
.plugin[short] .title{width: 155px}
.plugin[short] .subtitle{width: 155px}
.plugin[subs] {position: absolute;display:block;right:3;width:40px;font-size:12px;color:#c52814;line-height:58px}
.pluginbox[noIcon] .plugin{height:33px}
.pluginbox[noIcon] .plugin .title{margin: 4 0 0 8}
.pluginbox[noIcon] .plugin .subtitle{display: none}
.pluginbox[noIcon] .plugin .arrow{margin-top:-18px}
.pluginbox[noIcon] .plugin[subs]{line-height:33px}

body.night .plugin[subs]{color:#AEB8C5}
/*body.night .plugin .photo_box{background: none}*/

/*
 打赏小编 plugin
*/
.plugin[roundIcon] .photo_big, body.night .plugin[roundIcon] .photo_big{border-radius: 24px;-webkit-box-shadow:none;}
.plugin[roundIcon] .photo_box img{border-radius:24px}
.plugin .rewardButton{position:absolute;display:block;right:0px;top:0;height:70px;width:70px;background-size: 100%;background-image: url("contentview_rewardbutton.png");}
.plugin#hover .rewardButton{background-image: url("contentview_rewardbutton_highlighted.png");}
.plugin .title[medium]{width:150px}
.plugin .subtitle[medium]{width:150px}

body.night .plugin .rewardButton{background-image: url("night_contentview_rewardbutton.png");}
body.night .plugin#hover .rewardButton{background-image: url("night_contentview_rewardbutton_highlighted.png");}

/*
 广告 plugin
*/
.plugin .ad_plugin_tag{position:absolute;bottom:0;right:3;display: block;text-align: center;width: 30px;height: 13px;background-color: #5087c5;color: #ced7e7;font-size: 11px;line-height: 13px}
.plugin .subtitle[ad]{display:inline-block;vertical-align: middle;font-size:12px;line-height: 14px;height:26px;color:#808080;width:200px;text-overflow:ellipsis;white-space:normal;overflow:hidden}
body.night .plugin .ad_plugin_tag{background-color: #1d365b;color: #b7a2a3}

/*
 @2x
*/
@media screen and (-webkit-device-pixel-ratio: 2) {

.section_header{ background-image: url("contentview_sectionheader@2x.png");}
.section ul li{background-size: 290px 2px;background-image: url('cities_line@2x.png');}
.section ul li#hover{background-image: url("sidebar_cellhighlighted_bg@2x.png")}
#topics_section ul li a.topic_plus{background-size: 72px 44px;background-image: url("contentview_topic_sub@2x.png")}
#topics_section ul li a.topic_check{background-size: 72px 44px;background-image: url("contentview_topic_unsub@2x.png")}
#topics_section ul li a.topic_plus[newsType=media]{background-size: 72px 44px;background-image: url("contentview_topic_sub_media@2x.png")}
#topics_section ul li a.topic_check[newsType=media]{background-size: 72px 44px;background-image: url("contentview_topic_unsub_media@2x.png")}

#comment_section .floor_title i{background-image: url("comment_profile_default@2x.png");}
#comment_section .floor_up {background-image: url("comment_support@2x.png");}
body.night #comment_section .floor_title i{background-image: url("night_comment_profile_default@2x.png")}
body.night #comment_section .floor_up {background-image: url("night_comment_support@2x.png");}

#vote_section #vote_title b{background-image: url("vote_multi_tag@2x.png")}
#vote_section .vote_optionButton {background-image: url("contentview_graylongbutton@2x.png")}
#vote_section .vote_optionButton[hover]{background-image: url("contentview_graylongbutton_highlighted@2x.png");}
#vote_section .vote_optionButton[mutliple]{background-image: url("vote_multi_option@2x.png");}
/*#vote_section .vote_optionButton[mutliple][hover]{background-image: url("vote_multi_option_highlighted@2x.png");}*/
#vote_section .vote_optionButton[mutliple][selected]{background-image: url("vote_multi_option_selected@2x.png");}
#vote_section .vote_optionButton[submit]{background-image: url("vote_multi_submit@2x.png");}
#vote_section .vote_optionButton[submit][hover]{background-image: url("vote_multi_submit_highlighted@2x.png");}
#vote_section .vote_optionButton[submit][disable]{background-image: url("contentview_graylongbutton@2x.png");}
body.night #vote_section .vote_optionButton{background-image: url("night_contentview_graylongbutton@2x.png");}
body.night #vote_section .vote_optionButton[hover]{background-image: url("night_contentview_graylongbutton_highlighted@2x.png");}
body.night #vote_section .vote_optionButton[mutliple]{background-image: url("night_vote_multi_option@2x.png");}
body.night #vote_section .vote_optionButton[mutliple][selected]{background-image: url("night_vote_multi_option_selected@2x.png");}
body.night #vote_section .vote_optionButton[submit]{background-image: url("night_vote_multi_submit@2x.png");}
body.night #vote_section .vote_optionButton[submit][hover]{background-image: url("night_vote_multi_submit_highlighted@2x.png");}
body.night #vote_section .vote_optionButton[submit][disable]{background-image: url("night_contentview_graylongbutton@2x.png");}

body.night .section_header{background-image: url("night_contentview_sectionheader@2x.png");}
body.night .section ul li{background-image: url("night_cities_line@2x.png")}
body.night .section ul li#hover{ background-image: url("night_sidebar_cellhighlighted_bg@2x.png")}
body.night #topics_section ul li a.topic_plus{background-size: 72px 44px;background-image: url("night_contentview_topic_sub@2x.png")}
body.night #topics_section ul li a.topic_check{background-image: url("night_contentview_topic_unsub@2x.png")}
body.night #topics_section ul li a.topic_plus[newsType=media]{background-image: url("night_contentview_topic_sub_media@2x.png")}
body.night #topics_section ul li a.topic_check[newsType=media]{background-image: url("night_contentview_topic_unsub_media@2x.png")}

.plugin .arrow{background-image: url("settingcell_arrow@2x.png");}
.plugin .rewardButton{background-image: url("contentview_rewardbutton@2x.png");}
.plugin#hover .rewardButton{background-image: url("contentview_rewardbutton_highlighted@2x.png");}
body.night .plugin .rewardButton{background-image: url("night_contentview_rewardbutton@2x.png");}
body.night .plugin#hover .rewardButton{background-image: url("night_contentview_rewardbutton_highlighted@2x.png");}
}